.funkopt-container {
  border: solid 1px #d5d5d5;
  background-color: #fff; }
  .funkopt-container .is-hidden {
    display: none; }
  .funkopt-container .funkopt-header {
    padding: 10px;
    padding-bottom: 0px;
    background-color: #776b5e;
    min-height: 50px;
    color: #fff; }
    .funkopt-container .funkopt-header .logo {
      float: left; }
    .funkopt-container .funkopt-header .search {
      float: right;
      background-color: inherit; }
      .funkopt-container .funkopt-header .search #funkopt-search-input {
        height: 35px;
        width: 200px;
        box-shadow: none;
        border: 1px solid #e5d4c2;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 5px;
        padding: 0 16px;
        font-size: 16px;
        color: #8e8071;
        width: 100%; }
        .funkopt-container .funkopt-header .search #funkopt-search-input:focus {
          background: #fff; }
  .funkopt-container .funkopt-tabs {
    width: 180px;
    float: left;
    padding: 0px;
    border: none;
    border-bottom: none;
    margin-top: 14px;
    position: absolute; }
    .funkopt-container .funkopt-tabs .nav-tab {
      width: 100%;
      line-height: inherit;
      padding-right: 5px;
      padding-bottom: 15px;
      padding-top: 12px;
      padding-left: 10px;
      border-bottom: solid 1px #d5d5d5;
      background: #f6f0ec;
      color: #776b5e;
      border-left: solid #776b5e; }
      .funkopt-container .funkopt-tabs .nav-tab:active, .funkopt-container .funkopt-tabs .nav-tab:hover, .funkopt-container .funkopt-tabs .nav-tab.nav-tab-active {
        border-left: solid #54bc75; }
  .funkopt-container .funkopt-content {
    border: solid 1px #d5d5d5;
    margin-left: 200px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px; }
    .funkopt-container .funkopt-content .funkopt-section-info {
      background: #54bc75;
      color: #fff; }
    .funkopt-container .funkopt-content .form-table {
      clear: none; }

.settings-form-wrapper table {
  border-collapse: collapse;
  border-spacing: 0; }
.settings-form-wrapper .form-group {
  margin-bottom: 10px; }
  .settings-form-wrapper .form-group .selectize-control {
    margin-bottom: -5px; }
.settings-form-wrapper input, .settings-form-wrapper textarea, .settings-form-wrapper select, .settings-form-wrapper button, .settings-form-wrapper label {
  margin: 0;
  line-height: normal;
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box; }
.settings-form-wrapper ::-moz-focus-inner {
  padding: 0 !important;
  border: 0 !important; }
.settings-form-wrapper strong {
  font-weight: bold; }
.settings-form-wrapper input[type=text], .settings-form-wrapper input[type=email], .settings-form-wrapper input[type=url], .settings-form-wrapper input[type=search], .settings-form-wrapper input[type=number], .settings-form-wrapper input[type=password] {
  display: inline-block;
  vertical-align: top;
  padding: 0 8px;
  height: 33px;
  line-height: 19px;
  color: #626262;
  background: #fff;
  border: 2px solid #d9d9d9;
  border-radius: 2px;
  width: 100%; }
.settings-form-wrapper input[type=text].funkopt-url {
  max-width: 300px;
  margin-right: 10px; }
.settings-form-wrapper textarea {
  display: inline-block;
  vertical-align: top;
  padding: 0 8px;
  height: 33px;
  line-height: 19px;
  color: #626262;
  background: #fff;
  border: 2px solid #d9d9d9;
  border-radius: 2px; }
.settings-form-wrapper input[type=text]:hover, .settings-form-wrapper input[type=email]:hover, .settings-form-wrapper input[type=url]:hover, .settings-form-wrapper input[type=search]:hover {
  border-color: #ccc; }
.settings-form-wrapper textarea:hover {
  border-color: #ccc; }
.settings-form-wrapper input[type=text]:focus, .settings-form-wrapper input[type=email]:focus, .settings-form-wrapper input[type=url]:focus, .settings-form-wrapper input[type=search]:focus {
  color: #3c3c3c;
  background: #fff;
  border-color: #54bc75;
  outline: none; }
.settings-form-wrapper textarea {
  padding: 4px 8px;
  height: 69px;
  line-height: 19px;
  overflow: auto;
  resize: none; }
  .settings-form-wrapper textarea:focus {
    color: #3c3c3c;
    background: #fff;
    border-color: #54bc75;
    outline: none; }
.settings-form-wrapper :-moz-placeholder {
  color: #aaa !important; }
.settings-form-wrapper ::-moz-placeholder {
  color: #aaa !important;
  opacity: 1; }
.settings-form-wrapper ::-webkit-input-placeholder, .settings-form-wrapper :-ms-input-placeholder {
  color: #aaa; }
.settings-form-wrapper .lt-ie9 input {
  line-height: 29px; }
.settings-form-wrapper .search {
  position: relative; }
  .settings-form-wrapper .search > input {
    width: 100%;
    height: 31px;
    padding: 0 13px 0 32px;
    border-radius: 16px; }
  .settings-form-wrapper .search:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 11px;
    width: 6px;
    height: 6px;
    border: 2px solid #bbb;
    border-radius: 8px; }
  .settings-form-wrapper .search:after {
    content: '';
    position: absolute;
    top: 19px;
    left: 18px;
    width: 6px;
    height: 2px;
    background: #bbb;
    border-radius: 1px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: -1px 0 #bbb; }
.settings-form-wrapper input[type=search] {
  -webkit-appearance: textfield; }
.settings-form-wrapper ::-webkit-search-decoration, .settings-form-wrapper ::-webkit-search-cancel-button {
  -webkit-appearance: none; }
.settings-form-wrapper .lt-ie9 .search:before, .settings-form-wrapper .lt-ie9 .search:after {
  content: none; }
.settings-form-wrapper .lt-ie9 .search > input {
  padding: 0 7px; }
.settings-form-wrapper .option-container {
  margin-bottom: 5px; }
.settings-form-wrapper .option {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 18px;
  height: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .settings-form-wrapper .option > input {
    position: absolute;
    left: 0;
    width: inherit;
    height: inherit;
    opacity: 0; }
.settings-form-wrapper .checkbox, .settings-form-wrapper .radio {
  display: block;
  height: 100%;
  background: #fff;
  border: 2px solid #d9d9d9;
  border-radius: 2px;
  box-sizing: border-box; }
.settings-form-wrapper .checkbox:before, .settings-form-wrapper .radio:before {
  content: '';
  display: none; }
.settings-form-wrapper input:hover + .checkbox, .settings-form-wrapper input:hover + .radio {
  border-color: #ccc; }
.settings-form-wrapper .checkbox:hover, .settings-form-wrapper .radio:hover {
  border-color: #ccc; }
.settings-form-wrapper input:focus + .checkbox, .settings-form-wrapper input:focus + .radio {
  border-color: #54bc75; }
.settings-form-wrapper input.focus + .checkbox, .settings-form-wrapper input.focus + .radio {
  border-color: #54bc75; }
.settings-form-wrapper input:checked + .checkbox:before, .settings-form-wrapper input:checked + .radio:before {
  display: block; }
.settings-form-wrapper .checkbox:before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 7px;
  height: 3px;
  border: solid #aaa;
  border-width: 0 0 3px 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }
.settings-form-wrapper input:focus + .checkbox:before, .settings-form-wrapper input.focus + .checkbox:before {
  border-color: #54bc75; }
.settings-form-wrapper input[type=radio]:checked:before {
  background-color: #54bc75; }
.settings-form-wrapper .radio {
  border-radius: 9px; }
  .settings-form-wrapper .radio:before {
    margin: 4px;
    width: 6px;
    height: 6px;
    background: #aaa;
    border-radius: 3px; }
.settings-form-wrapper input:focus + .radio:before, .settings-form-wrapper input.focus + .radio:before {
  background: #19a7ef; }
.settings-form-wrapper .lt-ie9 .option > input {
  position: static;
  padding: 0; }
.settings-form-wrapper .lt-ie9 .checkbox, .settings-form-wrapper .lt-ie9 .radio {
  display: none; }
.settings-form-wrapper .select {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 200px;
  height: 33px;
  background: #f4f6fb;
  border: 2px solid #d3dae7;
  border-radius: 2px;
  box-sizing: border-box; }
  .settings-form-wrapper .select:hover {
    border-color: #c5cddf; }
  .settings-form-wrapper .select > select {
    display: block;
    width: 100%;
    height: 29px;
    line-height: 17px;
    margin: 0;
    padding: 6px;
    padding-left: 9px;
    color: #626262;
    background: #f4f6fb;
    border: 0;
    -webkit-appearance: none; }
    .settings-form-wrapper .select > select:focus {
      color: #3c3c3c;
      outline: 2px solid #54bc75;
      outline-offset: 0;
      -moz-outline-radius: 2px; }
    .settings-form-wrapper .select > select::-ms-expand {
      display: none; }
  .settings-form-wrapper .select:before, .settings-form-wrapper .select:after {
    content: '';
    position: absolute;
    pointer-events: none; }
  .settings-form-wrapper .select:before {
    top: 0;
    bottom: 0;
    right: 0;
    width: 29px;
    background: inherit; }
  .settings-form-wrapper .select:after {
    top: 13px;
    right: 13px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #9095a0; }
.settings-form-wrapper .switch {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 58px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .settings-form-wrapper .switch > label {
    display: block;
    position: relative;
    height: 25px;
    line-height: 20px;
    font-size: 10px;
    font-weight: bold;
    color: #bbb;
    text-align: center;
    text-transform: uppercase;
    background: #fff;
    border: 2px solid #d9d9d9;
    border-radius: 13px;
    -webkit-transition: 0.15s ease-out;
    transition: 0.15s ease-out; }
    .settings-form-wrapper .switch > label:before {
      content: attr(data-off);
      position: absolute;
      top: 0;
      right: 3px;
      width: 33px; }
    .settings-form-wrapper .switch > label:after {
      content: '';
      display: block;
      margin: 2px;
      width: 17px;
      height: 17px;
      background: #ccc;
      border-radius: 13px; }
  .settings-form-wrapper .switch > input {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    opacity: 0;
    -webkit-appearance: none; }
    .settings-form-wrapper .switch > input:focus {
      outline: none; }
      .settings-form-wrapper .switch > input:focus + label {
        color: #10a4ee;
        border-color: #54bc75; }
        .settings-form-wrapper .switch > input:focus + label:after {
          background: #54bc75; }
    .settings-form-wrapper .switch > input:checked + label {
      padding-left: 33px;
      color: #fff;
      background: #54bc75;
      border-color: #54bc75; }
      .settings-form-wrapper .switch > input:checked + label:before {
        content: attr(data-on);
        left: 1px; }
      .settings-form-wrapper .switch > input:checked + label:after {
        margin: 1px;
        width: 19px;
        height: 19px;
        background: #fff; }
    .settings-form-wrapper .switch > input:checked:focus + label {
      background: #10a4ee;
      border-color: #10a4ee; }
.settings-form-wrapper .switch-square > label {
  border-radius: 2px; }
  .settings-form-wrapper .switch-square > label:before {
    width: 25px; }
  .settings-form-wrapper .switch-square > label:after {
    width: 21px;
    border-radius: 1px; }
.settings-form-wrapper .switch-square > input:checked + label {
  padding-left: 29px; }
  .settings-form-wrapper .switch-square > input:checked + label:after {
    width: 23px; }
.settings-form-wrapper .switch-green > input:checked + label {
  background: #54bc75;
  border-color: #54bc75; }
.settings-form-wrapper .switch-green > input:checked:focus + label {
  background: #3c9b39;
  border-color: #3c9b39; }
.settings-form-wrapper .lt-ie9 .switch {
  width: 54px;
  height: 21px;
  background: #fff;
  border: 2px solid #d9d9d9; }
  .settings-form-wrapper .lt-ie9 .switch > label {
    display: none; }
  .settings-form-wrapper .lt-ie9 .switch > input {
    position: static;
    width: inherit;
    height: inherit;
    vertical-align: top; }
.settings-form-wrapper .valid, .settings-form-wrapper .invalid {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%; }
.settings-form-wrapper .valid > input:focus, .settings-form-wrapper .invalid > input:focus {
  position: relative;
  z-index: 2; }
.settings-form-wrapper .valid > input {
  color: #35491e;
  background: #e1fac9;
  border-color: #91c753; }
  .settings-form-wrapper .valid > input:hover {
    border-color: #88bb50; }
  .settings-form-wrapper .valid > input:focus {
    border-color: #54bc75; }
.settings-form-wrapper .valid:before {
  content: '';
  position: absolute;
  top: 11px;
  right: 10px;
  width: 10px;
  height: 4px;
  border: solid #61a136;
  border-width: 0 0 3px 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }
.settings-form-wrapper .invalid > input {
  color: #5f2423;
  background: #fbdbcf;
  border-color: #f3746d; }
  .settings-form-wrapper .invalid > input:hover {
    border-color: #e46b66; }
  .settings-form-wrapper .invalid > input:focus {
    border-color: #54bc75; }
.settings-form-wrapper .invalid:before {
  content: '';
  position: absolute;
  top: 10px;
  right: 14px;
  width: 3px;
  height: 12px;
  background: #e84c4a;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
.settings-form-wrapper .invalid:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 14px;
  width: 3px;
  height: 12px;
  background: #e84c4a;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }
.settings-form-wrapper .lt-ie9 .valid:before, .settings-form-wrapper .lt-ie9 .valid:after {
  display: none; }
.settings-form-wrapper .lt-ie9 .invalid:before, .settings-form-wrapper .lt-ie9 .invalid:after {
  display: none; }
.settings-form-wrapper .button {
  display: inline-block;
  vertical-align: top;
  height: 33px;
  line-height: 1;
  padding: 0 16px;
  font-size: 13px;
  color: #243140;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.2);
  background: #e5e7ed;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box; }
  .settings-form-wrapper .button:hover {
    color: #243140;
    background: #dcdfe7; }
  .settings-form-wrapper .button:active {
    color: #1d2938;
    background: #cdd1dc; }
.settings-form-wrapper .button-dropdown:hover > .toggle, .settings-form-wrapper .button-dropdown.open > .toggle {
  color: #1d2938;
  background: #cdd1dc; }
.settings-form-wrapper .button.active {
  color: #1d2938;
  background: #cdd1dc; }
.settings-form-wrapper a.button {
  line-height: 33px;
  text-decoration: none; }
.settings-form-wrapper .button-green {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
  background: #54bc75; }
  .settings-form-wrapper .button-green:hover {
    color: #fff;
    background: #6bc868; }
  .settings-form-wrapper .button-green:active, .settings-form-wrapper .button-green.active {
    color: #fff;
    background: #3c9b39; }
.settings-form-wrapper .button-group {
  display: inline-block;
  vertical-align: top;
  height: 31px;
  font-size: 0; }
  .settings-form-wrapper .button-group > .button {
    position: relative;
    height: auto;
    line-height: 31px;
    padding: 0 15px;
    border-radius: 0; }
    .settings-form-wrapper .button-group > .button.active {
      z-index: 1;
      top: -4px;
      line-height: 35px;
      padding: 0 17px;
      font-weight: bold;
      border: 2px solid #fff;
      border-radius: 4px; }
    .settings-form-wrapper .button-group > .button:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px; }
    .settings-form-wrapper .button-group > .button:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px; }
.settings-form-wrapper .button-dropdown {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 33px;
  font-size: 0; }
  .settings-form-wrapper .button-dropdown > .button {
    height: inherit;
    line-height: 33px;
    padding: 0 13px;
    border-radius: 2px 0 0 2px; }
    .settings-form-wrapper .button-dropdown > .button:focus {
      position: relative;
      z-index: 1; }
  .settings-form-wrapper .button-dropdown > .toggle {
    position: relative;
    width: 33px;
    font: 0/0 serif;
    color: transparent;
    border-radius: 0 2px 2px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .settings-form-wrapper .button-dropdown > .toggle:before, .settings-form-wrapper .button-dropdown > .toggle:after {
      content: '';
      position: absolute;
      top: 15px;
      right: 11px;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-top-color: #71737f; }
    .settings-form-wrapper .button-dropdown > .toggle:before {
      margin-top: 1px;
      border-top-color: rgba(255, 255, 255, 0.2); }
  .settings-form-wrapper .button-dropdown:hover > .dropdown, .settings-form-wrapper .button-dropdown.open > .dropdown {
    display: block; }
  .settings-form-wrapper .button-dropdown:hover > .toggle, .settings-form-wrapper .button-dropdown.open > .toggle {
    color: transparent; }
.settings-form-wrapper .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 2px; }
  .settings-form-wrapper .dropdown:hover {
    display: block; }
  .settings-form-wrapper .dropdown > li + li {
    margin-top: 2px; }
.settings-form-wrapper .dropdown-link {
  display: block;
  position: relative;
  padding: 0 13px;
  line-height: 33px;
  font-size: 13px;
  color: #243140;
  text-shadow: 0 1px rgba(255, 255, 255, 0.2);
  background: #eaedf5; }
  .settings-form-wrapper .dropdown-link:hover {
    text-decoration: none;
    background: #dce1ee; }
  .settings-form-wrapper .dropdown-link:focus {
    z-index: 1; }
.settings-form-wrapper li:first-child > .dropdown-link {
  margin-top: 8px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }
  .settings-form-wrapper li:first-child > .dropdown-link:before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px outset transparent;
    border-bottom: 6px solid #eaedf5; }
  .settings-form-wrapper li:first-child > .dropdown-link:hover:before {
    border-bottom-color: #dce1ee; }
.settings-form-wrapper li:last-child > .dropdown-link {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }
.settings-form-wrapper .button-prev, .settings-form-wrapper .button-next {
  position: relative;
  height: 33px;
  width: 33px;
  padding: 0;
  font: 0/0 serif;
  color: transparent; }
.settings-form-wrapper .button-prev:before, .settings-form-wrapper .button-next:before, .settings-form-wrapper .button-prev:after, .settings-form-wrapper .button-next:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -5px;
  width: 0;
  height: 0;
  border: 5px outset transparent; }
.settings-form-wrapper .button-prev:before, .settings-form-wrapper .button-next:before {
  margin-top: -4px; }
.settings-form-wrapper .button-prev:before, .settings-form-wrapper .button-prev:after {
  left: 49%;
  margin-left: -10px;
  border-right: 8px solid #71737f; }
.settings-form-wrapper .button-prev:before {
  border-right-color: rgba(255, 255, 255, 0.2); }
.settings-form-wrapper .button-next:before, .settings-form-wrapper .button-next:after {
  right: 49%;
  margin-right: -10px;
  border-left: 8px solid #71737f; }
.settings-form-wrapper .button-next:before {
  border-left-color: rgba(255, 255, 255, 0.2); }
.settings-form-wrapper .lt-ie9 .button-prev:before, .settings-form-wrapper .lt-ie9 .button-next:before, .settings-form-wrapper .lt-ie9 .button-prev:after, .settings-form-wrapper .lt-ie9 .button-next:after {
  border-style: solid; }
.settings-form-wrapper .pagination {
  position: relative;
  height: 34px;
  line-height: 12px;
  padding: 11px 47px;
  text-align: center;
  background: #f2f4fa;
  border-radius: 2px;
  cursor: default;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .settings-form-wrapper .pagination > .button {
    position: absolute;
    top: 0;
    width: 34px;
    height: 34px; }
  .settings-form-wrapper .pagination > .button-prev {
    left: 0;
    border-radius: 2px 0 0 2px; }
  .settings-form-wrapper .pagination > .button-next {
    right: 0;
    border-radius: 0 2px 2px 0; }
.settings-form-wrapper .pagination-link, .settings-form-wrapper .pagination-current {
  display: inline-block;
  vertical-align: top;
  margin: 1px 2px;
  width: 10px;
  height: 10px;
  font: 0/0 serif;
  color: transparent;
  background: #d3d6e0;
  border-radius: 6px; }
.settings-form-wrapper .pagination-link:hover {
  background: #c1c6d4; }
.settings-form-wrapper .pagination-current {
  margin-top: 0;
  margin-bottom: 0;
  width: 12px;
  height: 12px;
  background: #c1c6d4; }
.settings-form-wrapper .heading {
  overflow: hidden;
  line-height: 35px;
  padding: 0 14px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
  background: #d7ebf8;
  border-radius: 2px; }
  .settings-form-wrapper .heading > h2 {
    float: left;
    font-size: 14px;
    font-weight: bold; }
.settings-form-wrapper .heading-links {
  float: right;
  margin: 0 -14px 0 14px; }
  .settings-form-wrapper .heading-links > li {
    float: left; }
.settings-form-wrapper .heading-link {
  display: block;
  padding: 0 12px; }
  .settings-form-wrapper .heading-link:hover {
    text-decoration: none;
    background: #c6e2f5; }
.settings-form-wrapper li:last-child > .heading-link {
  border-radius: 0 2px 2px 0; }
.settings-form-wrapper .breadcrumbs {
  overflow: hidden;
  line-height: 33px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
  background: #d7ebf8;
  border-radius: 2px; }
  .settings-form-wrapper .breadcrumbs > li {
    float: left; }
  .settings-form-wrapper .breadcrumbs .current {
    padding: 0 13px 0 33px;
    font-weight: bold;
    color: #3c3c3c; }
    .settings-form-wrapper .breadcrumbs .current:hover {
      background: none; }
.settings-form-wrapper .breadcrumb {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0 9px 0 33px; }
  .settings-form-wrapper .breadcrumb:hover {
    text-decoration: none;
    background: #c6e2f5; }
  .settings-form-wrapper .breadcrumb:before {
    content: '';
    position: absolute;
    top: -16px;
    left: -13px;
    width: 0;
    height: 0;
    border: 33px outset transparent;
    border-left: 33px solid #fff;
    pointer-events: none; }
  .settings-form-wrapper .breadcrumb:after {
    content: '';
    position: absolute;
    top: -16px;
    left: -13px;
    width: 0;
    height: 0;
    border: 33px outset transparent;
    border-left: 33px solid #fff;
    pointer-events: none;
    left: -16px;
    border-left-color: #d7ebf8; }
.settings-form-wrapper li:hover + li > .breadcrumb:before {
  border-top: 33px solid #d7ebf8;
  border-bottom: 33px solid #d7ebf8; }
.settings-form-wrapper li:hover + li > .breadcrumb:after {
  border-left-color: #c6e2f5; }
.settings-form-wrapper li:first-child > .breadcrumb {
  padding-left: 13px; }
  .settings-form-wrapper li:first-child > .breadcrumb:before, .settings-form-wrapper li:first-child > .breadcrumb:after {
    display: none; }
.settings-form-wrapper .alert {
  position: relative;
  line-height: 27px;
  padding: 4px 38px 4px 14px;
  color: #424239;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
  background: #fcf0b0;
  border-radius: 2px; }
  .settings-form-wrapper .alert.notice {
    color: #324431;
    background: #bff1bc; }
.settings-form-wrapper .alert-close {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -16px;
  padding: 4px 12px;
  font: 24px/24px Arial, sans-serif;
  color: inherit;
  text-shadow: none;
  opacity: 0.6; }
  .settings-form-wrapper .alert-close:hover {
    text-decoration: none;
    opacity: 0.9; }
.settings-form-wrapper .table {
  width: 100%;
  line-height: 33px;
  text-align: left;
  background: #fff;
  border: 2px solid #d7ebf8;
  border-collapse: separate;
  border-radius: 2px; }
.settings-form-wrapper .table-head > tr > th {
  line-height: 31px;
  padding: 0 11px 2px;
  font-weight: bold;
  text-shadow: 0 1px rgba(255, 255, 255, 0.2);
  background: #d7ebf8; }
.settings-form-wrapper .table-body > tr:nth-child(2n) {
  background: #f6f9fb; }
.settings-form-wrapper .table-body > tr:hover {
  background: #eef6fa; }
.settings-form-wrapper .table-body > tr > td {
  padding: 0 11px; }
.settings-form-wrapper .progress {
  position: relative;
  height: 16px;
  background: #f2f4fa;
  border-radius: 2px; }
  .settings-form-wrapper .progress > span {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: 16px;
    background: #54bc75;
    background-size: 16px 16px;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(top left, transparent, transparent 25%, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0.15) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0.15));
    background-image: linear-gradient(to bottom right, transparent, transparent 25%, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0.15) 50%, transparent 50%, transparent 75%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0.15)); }
  .settings-form-wrapper .progress:hover > span {
    animation: progress .6s linear infinite;
    -webkit-animation: progress 0.6s linear infinite; }
.settings-form-wrapper .progress-green > span {
  background-color: #54bc75; }
@keyframes progress {
  from {
    background-position: 0 0; }
  to {
    background-position: -16px 0; } }
@-webkit-keyframes progress {
  from {
    background-position: 0 0; }
  to {
    background-position: -16px 0; } }
.settings-form-wrapper .tooltip {
  position: absolute;
  z-index: 10;
  padding: 6px 10px;
  max-width: 200px;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #3c3c3c;
  border-radius: 2px; }
  .settings-form-wrapper .tooltip:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 6px solid transparent; }
.settings-form-wrapper .tooltip-up:before {
  bottom: -12px;
  left: 50%;
  margin-left: -6px;
  border-top-color: #3c3c3c; }
.settings-form-wrapper .tooltip-down:before {
  top: -12px;
  left: 50%;
  margin-left: -6px;
  border-bottom-color: #3c3c3c; }
.settings-form-wrapper .tooltip-left:before {
  top: 50%;
  left: -12px;
  margin-top: -6px;
  border-right-color: #3c3c3c; }
.settings-form-wrapper .tooltip-right:before {
  top: 50%;
  right: -12px;
  margin-top: -6px;
  border-left-color: #3c3c3c; }
.settings-form-wrapper .form-table td fieldset label.option {
  margin: 0px !important; }
.settings-form-wrapper .form-table td fieldset .desc-label {
  margin-left: 5px; }
.settings-form-wrapper .wp-editor-tabs .wp-switch-editor {
  height: 40px; }
